# Code for Lottery Addiction

In this project we are working on writing the logical code for a mobile app to help lottery addicts better estimate their chances of winning.

our goal is to create the logical core of the app and calculate probabilities.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# creating funtions :
Throughout the project, we'll need to calculate repeatedly probabilities and combinations. As a consequence, we'll start by writing two functions that we'll use often:

* A function that calculates factorials.
* A function that calculates combinations.

In [2]:
def factorial(n):
    if n==1:
        return n
    else:
        return n*factorial(n-1)

In [3]:
def combinations(n,k):
    numer=factorial(n)
    deno=factorial(n-k)*factorial(k)
    return numer/deno

#  probability for one ticket :
we will now create a function which will caclculate the probability of winning a jackpot for one ticket.

This function will let people know minute probability of winning the lottery.For calculating the probability we need to first find the total number of possible outcomes of the experiment which we can know by using the combinations function which will get us know the total number of distinct combinations of six numbers from 49 numbers.

In [4]:
def one_ticket_probability(un):
    tot=combinations(49,6)
    win_prob=1/tot
    win_per=win_prob*100
    print("""your chances of winning the big prize with numbers {} is {:.7f}% .
In other words you have a 1 in {:,} chance of winning the jackpot.""".format(
    un,win_per,int(tot)))

In [5]:
one_ticket_probability([12,13,14,15,16,17])

your chances of winning the big prize with numbers [12, 13, 14, 15, 16, 17] is 0.0000072% .
In other words you have a 1 in 13,983,816 chance of winning the jackpot.

* we found the the percentage of winning the big prize with aove given 6 numbers. Accutally it is the same for all numbers. The percent is very low and the event is almost an impossible one.

In [6]:
six_four=pd.read_csv("649.csv")
print(six_four.shape)
six_four.head(3)

(3665, 11)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [7]:
six_four.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [8]:
def extract_numbers(r):
    row=r[4:10]
    row=set(row.values)
    return row

In [9]:
winning_numbers=six_four.apply(extract_numbers,axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

# check historical occurence:
we will now create a function which takes in two inputs one list and compare it against pandas series that contains the sets with the winning numbers  to find the number of matches.

This function will tell us number of times a number combination has occured in the past and also gives the probability of winning the jackpot.

In [10]:
def check_historical_occurence(lis,ser):
    lis=set(lis)
    compare_results=ser==lis
    n_occ=compare_results.sum()
    if n_occ>0:
        print("""The number times combination {} occured in the past is {}.
your chances of winning the big prize is is 0.0000072% .
In other words you have a 1 in 13,983,816 chance of winning the jackpot."""
             .format(lis,n_occ))
    else:
        print("""The number combination {} has occured 0 times in the past.
your chances of winning the big prize is is 0.0000072% .
In other words you have a 1 in 13,983,816 chance of winning the jackpot.""".format(lis))

In [11]:
check_historical_occurence([3,9,10,43,13,20],winning_numbers)

The number times combination {3, 9, 10, 43, 13, 20} occured in the past is 1.
your chances of winning the big prize is is 0.0000072% .
In other words you have a 1 in 13,983,816 chance of winning the jackpot.

In [12]:
check_historical_occurence([35,19,10,40,33,15],winning_numbers)

The number combination {33, 35, 40, 10, 15, 19} has occured 0 times in the past.
your chances of winning the big prize is is 0.0000072% .
In other words you have a 1 in 13,983,816 chance of winning the jackpot.

In [17]:
def multi_ticket_probability(n):
    total=combinations(49,6)
    prob=n/total
    per=prob*100
    print("""your chances of winning the big prize with {0} ticket(s) is {1:.7f}% .
In other words you have a 1 in {2:,} chance of winning the jackpot.""".
          format(n,per,round(total/n)))

In [20]:
multi_ticket_probability(1)

your chances of winning the big prize with 1 ticket(s) is 0.0000072% .
In other words you have a 1 in 13,983,816 chance of winning the jackpot.

In [21]:
multi_ticket_probability(100)

your chances of winning the big prize with 100 ticket(s) is 0.0007151% .
In other words you have a 1 in 139,838 chance of winning the jackpot.

In [23]:
multi_ticket_probability(10000)

your chances of winning the big prize with 10000 ticket(s) is 0.0715112% .
In other words you have a 1 in 1,398 chance of winning the jackpot.

In [22]:
multi_ticket_probability(13983816)

your chances of winning the big prize with 13983816 ticket(s) is 100.0000000% .
In other words you have a 1 in 1 chance of winning the jackpot.

In [32]:
def probability_less_6(n_winning_numbers):
    if n_winning_numbers >=2 & n_winning_numbers <=5:
        n_combinations=combinations(6,n_winning_numbers)
        
        combinations_rem=combinations(49-n_winning_numbers,6-n_winning_numbers)
        total_combinations=combinations_rem*n_combinations
        prob=total_combinations/combinations(49,6)
        per=prob*100
        print("""your chances of winning {0} numbers is {1:.7f}%.
In other words you have a 1 in {2} chance of winning {0} numbers \n"""
              .format(n_winning_numbers,per,round(combinations(49,6)/total_combinations)))

In [33]:
for i in range(2,6):
    probability_less_6(i)

your chances of winning 2 numbers is 19.1326531%.
In other words you have a 1 in 5 chance of winning 2 numbers

your chances of winning 3 numbers is 2.1710812%.
In other words you have a 1 in 46 chance of winning 3 numbers

your chances of winning 4 numbers is 0.1061942%.
In other words you have a 1 in 942 chance of winning 4 numbers

your chances of winning 5 numbers is 0.0018879%.
In other words you have a 1 in 52969 chance of winning 5 numbers